{% load i18n %}

<div id="block-detail">  
    <button class="accordion">{% trans 'ПРАВИЛА ВИКОРИСТАННЯ ТА ПРОТИПОКАЗАННЯ' %}</button>
    <div class="panel">
        <p>
            <b>{% trans 'Правила використання:' %}</b>
            {{ product.terms }}
        </p>
        <p>
            <b>{% trans 'Протипоказання' %}:</b>
            {{ product.contraindications }}
        </p>
    </div>
    
    <button class="accordion">{% trans 'СКЛАД' %}</button>
    <div class="panel">
        <p>
            <b>{% trans 'Склад' %}:</b>
            {{ product.composition }}
        </p>
        <p>
            <b>PH:</b> {{ product.ph }}
        </p>   
    </div>
    
    <button class="accordion">{% trans 'УМОВИ ЗБЕРІГАННЯ І ТЕРМІН ПРИДАТНОСТІ' %}</button>
    <div class="panel">
        <p>
            <b>{% trans 'Умови зберігання' %}:</b>
            {{ product.storage_conditions }}
        </p>
        <p>
            <b>{% trans 'Термін придатності:' %}</b>
            {{ product.expiration_date }}
        </p>
    </div>
</div> 
   
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
</script>

<style>
    #block-detail{
        padding-left: 100px; 
        padding-right: 100px;
        padding-bottom: 30px;
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    
    .active, .accordion:hover {
        background-color: #ccc;
    }
    
    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2212";
    }
    
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>