netstore/db.sqlite3
netstore/media/


netstore/cart/__pycache__/
netstore/favorites/__pycache__/
netstore/netstore/__pycache__/
netstore/orders/__pycache__/
netstore/topikstore/__pycache__/
netstore/user/__pycache__/

netstore/cart/locale/
netstore/favorites/locale/
netstore/topikstore/locale/
netstore/orders/locale/
netstore/user/locale/

nestore/cart/migrations/
nestore/favorites/migrations/
nestore/orders/migrations/
nestore/topikstore/migrations/
nestore/user/migrations/


venv/