{% extends 'topikstore/base.html' %}
{% load static %}

{% block content %}
  <div class = 'block-posts'>
  {% for i in products %}
    <div class = 'post'>
      <div class="container"><a href="{{ i.get_absolute_url }}">
          <img src="{{ i.image.url }}" alt="{{ i.product }}" class="image" widht = "300px" height="250px">
      </div></a>
      <div class = 'name_product'>{{ i }}</div>
      <div class = 'price_product'>{{ i.price }} грн</div>
      {{ i.subcategory }}<br>

      {% include 'topikstore/buttons/cart_add.html' with product=i %}

    </div>
  {% endfor %}
  {% include 'topikstore/pagination.html' with name=products  %}
</div>
{% endblock %}
