{% extends 'topikstore/base.html' %}
{% load static %}

{% block title %}
    <title>{{product}}</title>
{% endblock title %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></li>
    <li><a href="{{product.category.get_absolute_url}}">{{product.category}}</a></li>
    <li><a href="{{product.subcategory.get_absolute_url}}">{{product.subcategory}}</a></li>
    <li>{{product}}</li>
</ul>

<div class="slideshow-container">
    <div class="mySlides">
        <img class = 'myImg' src="{{product.image.url}}" alt="{{product}}" width="450px" height="450px">
    </div>
    {% for i in images %}
    <div class="mySlides">
        <img class = 'myImg'src="{{i.photo.url}}" alt="{{product}}" width="500px" height="500px">
    </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="dot-container">
        <span class="dot" onclick="currentSlide(i)"></span>
        {% for i in images %}
        <span class="dot" onclick="currentSlide(i)"></span>
        {% endfor %}
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">×</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<div class="about_product">
    <p class="size_large">{{ product }}</p>
    <p class='size_middle'>{{ product.subcategory }}</p>
    <p class='size_large'>{{ product.price }} грн</p>
    <p class='size_small'>{{ product.mini_description }}</p>

    <div class="block-buttons">
        {% include 'topikstore/buttons/cart_add.html' with product=product %}
        {% if is_like %}
        <form class='inline' action="{% url 'favorites:favorites_remove' product.pk %}" method="post">
            {% csrf_token %}
            <button class="favorites selected" type="submit">
                В обраному <i class="fa-solid fa-circle-check"></i>
            </button>
        </form>
        {% else %}
        <form class='inline' action="{% url 'favorites:favorites_add' product.pk %}" method="post">
            {% csrf_token %}
            <button class="favorites selected" type="submit">
                Додати в обране <i class="fa-brands fa-gratipay"></i>
            </button>
        </form>
        {% endif %}
    </div>

    {% if is_available|length > 0 %}
    <p class='size_small'><b>Інші об'єми в наявності: </b><br>
        {% for i in is_available %}
        <div class="volume">
            <a class='link' href="{{ i.get_absolute_url }}">
                <img src="{{ i.image.url }}" alt="{{ i }}" width="100px" height="100px"><br>
                {{ i.volume }} <br>
            </a>
        </div>
        {% endfor %}
    </p>

    {% else %}
    <div class="alone_window"></div>
    {% endif %}

</div>


<div class = 'options'>
    <button class="tablink" onclick="openPage('Description', this, 'grey')" id = 'defaultOpen'>Опис</button>
    <button class="tablink" onclick="openPage('Feedback', this, 'grey')">Відгуків({{product.feedbacks.count}})</button>
    <button class="tablink" onclick="openPage('Questions', this, 'grey')">Питання по товару({{product.questions.count}})</button>
</div>  
    <div id="Description" class="tabcontent">
        {% autoescape off %}
            <div class = 'size_small'>{{ product.big_description | linebreaks }}</div>  
        {% endautoescape %}
        {% include 'topikstore/accordition.html' with product=product.detail %}
    </div>
    
    <div id="Feedback" class="tabcontent">
        <div class="user-field">
            <h3>Відгуки:</h3>
            {% if feedbacks %}
                {% for i in feedbacks %}
                <div>
                    <img class = 'icon' src="{% static 'topikstore/images/user.svg' %}" alt="user" width="60" height="60">
                    <b>{{i.author_name}} - {{i.date_create |date:'d.m.Y'}}</b>
                    <div class='user-text'>{{ i }}</div>
                </div>
                {% endfor %}
            {% include 'topikstore/pagination.html' with name=feedbacks paginator=paginator_feedback %}
            {% else %}
                Відгуки з цього товару відсутні.
            {% endif %}
            
        </div>
        {% if user.is_authenticated %}
        <div class = 'user-field'>
            <h3>Залишити свій відгук:</h3>
            <div class="container_feedback">
                {% include 'topikstore/forms/userform.html' with name='feedback' form_name=form_feedback %}
            </div>
        </div>
        {% endif %}      
    </div>

    <div id="Questions" class="tabcontent">
        <div class="user-field">
            <h3>Питання:</h3>
            {% if questions %}
            {% for i in questions %}
            <div>
                <img class = 'icon' src="{% static 'topikstore/images/question.jpg' %}" alt="user" width="60" height="60">
                <b>{{i.author_name}} - {{i.date_create |date:'d.m.Y'}}</b>
                <div class='user-text'>
                    {{ i }}<br>
                    {% if i.answer %}
                        <span class = 'answer'>
                            <br><b>Наша відповідь:</b><br>
                            Доброго дня, {{i.author_name}} <br>
                            {{i.answer}} <br>
                            Дякуємо за ваше питання <br>
                            З повагою, команда Topikstore <br>
                        </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% include 'topikstore/pagination.html' with name=questions paginator=paginator_question %}
            {% else %}
                Питання про цей товар відсутні.
            {% endif %}
        </div>
        <div class = 'user-field'>
            <h3>Залишити своє питання:</h3>
            <div class="container_feedback">
                {% include 'topikstore/forms/userform.html' with name='question' form_name=form_question %}
            </div>
        </div> 
    </div>
    {% if recently_viewed|length > 0 %}
    <div class="block-recently-viewed">
        <div class="size_middle">НЕЩОДАВНО ПЕРЕГЛЯНЕНО</div>
        {% include 'topikstore/posts.html' with products=recently_viewed %}
    </div>
    {% endif %}
{% endblock %}