{% extends 'topikstore/base.html' %}

{% load static %}

{% block title %}
<title>Авторизація</title>
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'user/css/userstyle.css' %}">
{% endblock links %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></li>
    <li>Авторизація</li>
</ul>

<form method="post" style="max-width:500px;margin:auto">
    {% csrf_token %}
    <div class="input-container">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        {{ form.username }}
    </div>
    <div class="form-error">{{ form.username.errors }}</div>

    <div class="input-container">
        <span class="icon"><i class="fa-solid fa-key"></i></span>
        {{ form.password }}
    </div>
    <div class="form-error">{{ form.password.errors }}</div>

    <input class="btn" type="submit" value="Авторизація">

    <p>Ще не зареєстровані? Зареєструватись можна <a href="{% url 'user:register' %}">тут</a>.</p>
</form>

<style>
    * {box-sizing: border-box;}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(64, 64, 64);
}

.icon {
    padding-left: 20px;
    padding-top: 10px; padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.input-field {
    width: 100%;
    padding: 5px;
    outline: none;
}

.input-field:focus {
    border: 2px solid green;
}

/* Set a style for the submit button */
.btn {
    background-color: green;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
</style>

{% endblock content %}