.cart-list {
    border-collapse: collapse;
    border-spacing: 0;
}

.cart{
    padding-top: 20px; padding-bottom: 20px;
    padding-left: 175px; padding-right: 175px;
    color:rgb(39, 39, 39);
}

th, td {
    text-align: center;
    padding: 15px;
}

.block-center{
    text-align: center;
    padding: 25px;
}

.button-update{
    background-color: rgba(0, 0, 0, 0.863);
    padding-top: 5px; padding-bottom: 5px;
    padding-left: 10px; padding-right: 10px;
    color:aliceblue;
    border-radius: 10px;
    margin: 5px;
    border: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-buy{
    background-color: rgba(0, 0, 0, 0.863);
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 20px; padding-right: 20px;
    color:aliceblue;
    border-radius: 90px;
    margin: 5px;
}

.button-buy:hover, .button-update:hover{
    background-color: rgb(0, 0, 0);
}