/* for user, home */
.icon{
    border-radius: 90px;
    margin-right: 25px;
    float:left;
}

.caption{
    font-size: 30px; 
    padding-left: 25px; padding-right: 150px;
    padding-top: 15px; padding-bottom: 10px;
}

.subcategory{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.562);
}

.price{
    font-size: 30px;
    color:rgba(0, 0, 0, 0.73);
}

.mini_description{

}

.brand{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.744);
    line-height: 150%;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 50px;
}

.big_description{
    font-size:17px;
    text-align: justify;
    padding-left: 150px; padding-right: 150px;
}

.btn-buy{
    background-color: black;
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 50px; padding-right: 50px;
    color:aliceblue;
    border-radius: 90px;
    margin: 5px;
    border: none;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-buy:hover{
    background-color: rgba(0, 0, 0, 0.651);
}

.left{
    float:left;
}

/* tablink Questions */
#Questions{
    padding-left: 150px; padding-right: 75px;
    font-size: 17px;
}


/* tablink Feedback */
#Feedback{
    padding-left: 150px; padding-right: 75px;
    font-size: 17px;
  }
 
  
/* field for icon, name, date, feedback/question */
.user-field{
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 150%;
    width: 47%;
    display: inline-table;
}

/* text of feedback/question */
.user-text{
    border-radius: 10px;
    margin-bottom: 30px; margin-left: 80px;
    padding: 5px;
    font-size: 18px;
}

.answer{
    line-height: 170%;
    font-size: 17px;
}

.similar{
    padding-left: 150px; padding-right: 75px;
    font-size: 20px;
}

.post{
    display: inline-table;
    width: 250px; height: 450px;
    text-align: center; line-height: 140%; background-color: rgba(0, 0, 0, 0);
    margin: 10px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(0, 0, 0, 0.864);
    overflow: auto;
}

.name_product{
    padding: 5px;
    font-size: 18px;
}

.price_product{
    font-size: 21px;
    font-weight: bolder;
    padding: 5px;
}

.button-buy{
    background-color: rgba(0, 0, 0, 0.863);
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 50px; padding-right: 50px;
    color:aliceblue;
    border-radius: 90px;
    margin: 5px;
    border: none;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-buy:hover{
    background-color: rgb(0, 0, 0);
}
